.screen {
  width: 100%;
  height: calc(100vh - 60px);
  /* 你需要多高就设多高 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 0.4);
  backdrop-filter: blur(10px);
}

.des {
  line-height: 1.6;
}

.des>p {
  font-size: 11px;
}