.nav {
    background-color: #FAFAFA;
    display: flex;
    gap: 1em;
    justify-content: center;
    /* 水平居中 nav 子元素（ul） */
    align-items: center;
    /* 垂直居中 */
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
}

/* logo部分 */
.logo {
    align-items: center;
    overflow: hidden;
    width: 9rem;
    height: auto;
    text-align: center;
    background-size: contain;
}

/* 导航部分 */
.ul {
    flex: 1;
    gap: 2em;
    display: flex;
    margin: 0 auto;
    align-items: center;
    /* 居中每一项 */
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.ul li {
    text-align: center;
    padding: .8rem;
}

.ul li a {
    text-decoration: none;
    color: black;
}

/* 可能是登录/注册部分 */
.other {
    width: 10rem;
}

/* 点击后状态保持 */
.active {
    font-weight: 500;
    text-shadow: 2px 2px 0.5px #D8CFC4;
}

.items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}